* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.person {
  background-color: rgb(83, 82, 82);
  padding: 10px;
  margin: 2rem auto;
  width: 500px;
  border-radius: 10px;
  transition: all 0.3s linear;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #eee;
}
.person img {
  border: 2px solid #72ffff;
  border-radius: 50%;
}
.person h4,
h2 {
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  color: #72ffff;
  text-transform: capitalize;
}
.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.9);
}
